* { 
    background-color: aliceblue;
}


h1 {
  margin: 0px;
  border: 0px;
  padding: 30px;
  position: fixed;
  left: 0;
  right: 10px;
  top: 0;
  width: 100%;
  background-color: rgb(42, 48, 54);

  }

  h1 span {
    background-color: rgb(117, 184, 213);
    padding: 20px;
  border-top: 20px;
  padding-left: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(42, 48, 54);
  }

.topright {
float: right;
position: fixed;
top: 20px;
right: 3%;
}

nav  {
  text-decoration:  rgb(117, 184, 213);
  background-color: rgb(42, 48, 54);
}


ul {
  list-style: none;
  display: flex;

justify-content: end;
background-color: rgb(42, 48, 54);

}

li {

  border: 5px;
  margin: 5px;
 
}

.text {
  background-color: rgb(42, 48, 54);
 color: rgb(117, 184, 213);
 font-size: 20px;
font-family: serif;
text-decoration: none;
border-bottom: 5px solid rgb(117, 184, 213);
padding-bottom: 3px;
border-bottom-width: 2.85px;
}

/* media query skills are in progress*/
@media screen and (max-width: 875px) {
  nav  {
   display: none;
  }
 }
 
 h2 {
border-right: 20px;
border-color: black;
border-right-width: 5px;
border-style: solid;
border-top: 0;
border-left: 0; 
margin: 60px;
font-size: 50px;
}
 
.image1 {
  margin-left: 100px;


}

.image1:hover {
cursor: pointer;
 transform: scale(1.5);
 transition: .4s;

}

.email, .phone, .github {
flex: auto;
  margin: 20px;
  font-size: 20px;
  
}




 







