* { 
    background-color: aliceblue;
}


h1 {
  margin: 0px;
  border: 0px;
  padding: 30px;
  position: fixed;
  left: 0;
  right: 10px;
  top: 0;
  width: 100%;
  background-color: rgb(42, 48, 54);

  }

  h1 span {
    background-color: rgb(117, 184, 213);
    padding: 20px;
  border-top: 20px;
  }

.topright {
float: right;
position: fixed;
top: 20px;
right: 3%;
}

nav  {
  text-decoration:  rgb(117, 184, 213);
  background-color: rgb(42, 48, 54);
  

}


ul {
  list-style: none;
display: flex;
justify-content: end;
background-color: rgb(42, 48, 54);


}

li {

  border: 5px;
  margin: 5px;
  
}

section {
margin: 20px;
border: 10px;
padding: 15px;
}


body   {
  padding-top: 65px;
}

img {
  border-radius: 75%;

border: 10px;
margin: 10px;
padding-top: 50px;
}


h2 {
  float: left;
  margin: 20px;
  border: 10px;
  padding: 15px;
}